/node_modules
/public/hot
/public/storage
/storage/*.key
composer.phar
/vendor
/resources/assets
/public/assets
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Arquivos do PhpStorm
.idea
.idea_modules/
/public/css/
/public/js/
/public/mix-manifest.json
